<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    
<%- include('./search_form') %>

 

<ul>
 <% events.forEach(el => { %>
 <h4> Name : <%= el.eventName %></h4>
 <img src="<%=el.imageUrl%>" alt="<%= el.eventName %>">
 <h4>Location :  <%= el.venues %> ,  <%= el.city %>  ,  <%= el.country %> </h4>

  <button type="button"><a href="/books/<%=el.id%>">View Details</a> </button> 
      <% }); %>
</ul>

<%  if (Object.keys(events).length === 0) { %>
 <h3>Sorry , No result was found</h3>


 <% } %>
    </body>
</html>