<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>

    <title>Home Page</title>
    <body>
<%- include('../layout/header') %>

 <main>
<br><br><br><br><br><br><br><br>
<%- include('./search_form') %>
     
<ul>
 <% events.forEach(el => { %>
 <h4> Name : <%= el.eventName %></h4>
 <img src="<%=el.imageUrl%>" alt="<%= el.eventName %>">
 <h4>Location :  <%= el.venues %> ,  <%= el.city %>  ,  <%= el.country %> </h4>

  <button type="button"><a href="/books/<%=el.id%>">View Details</a> </button> 
      <% }); %>
</ul>

<%  if (Object.keys(events).length === 0) { %>
 <h3>Sorry , No result was found</h3>


 <% } %>
 </main>
     <%- include('../layout/footer') %>
 <script src="js/app.js"></script>
    </body>
</html>